/** @format */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.header {
  min-height: 12vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 5;
  background-color: white;
  top: 0;
  // background-color: aquamarine;
  .logo {
    color: #377dff;
    font-size: 30px;
    font-weight: bold;
  }
  .toogle-btn {
    display: none;
    // display: block;
  }
  ul {
    li {
      list-style-type: none;
      display: inline;
      // letter-spacing: 10px;
      margin-left: 30px;
      // border: 1px solid black;
      a {
        text-decoration: none;
        color: gray;
        font-size: 1.2rem;
        &:hover {
          color: #5d96ff;
        }
        .def-btn {
          background-color: #377dff;
          color: white;
          &:hover {
            background-color: #3a8cf7;
          }
        }
      }
    }
  }
}

.motivation {
  .text {
    // border: 1px solid black;
    padding: 80px;
    .def-btn {
      margin-right: 20px;
      background-color: #377dff;
      color: white;
      padding: 10px;
      // font-weight: bold;
      &:hover {
        background-color: #3a8cf7;
      }
    }
    .learnmore-btn {
      color: #377dff;
      padding: 10px;

      font-weight: bold;
      background-color: white;
    }
    h1 {
      font-size: 3.5rem;
    }
  }
  .image {
    background-image: url(./imgs/hero.png);
    background-size: 100% 100%;
    height: 80vh;
  }
}
.cardheading {
  margin-top: 30px;
  h1 {
    text-align: center;
    font-size: 33px;
  }
}
.card {
  // width: 96%;
  // height: 55vh;
  cursor: pointer;
  margin-top: 25px;
  border-radius: 10px;
  color: white;
  // background-color: #377dff;
  padding: 25px;
  &:hover {
    // background-color: #045cff;
    transform: translateY(-8px);
    transition: 0.3s;
  }
  .name {
    font-size: 1.6rem;
    // font-weight: bold;
  }
  .detail {
    margin-top: 5px;
    font-size: 1.1rem;
  }
  .learnmore-btn {
    color: white;
    padding: 10px;
    width: 45%;
    font-weight: bold;
    // background-color: white;
  }
  img {
    padding: 15px;
  }
}
.review {
  margin-top: 80px;
  border-radius: 15px;
  background-color: #f7faff;
  padding: 50px;
  .client-img {
    img {
      border-radius: 15px;
      // width: 160%;
    }
  }
  .client-comment {
    .quote {
      color: #377dff;
      font-size: 3rem;
    }
    padding: 30px;
    font-size: 1.3rem;
  }
  .case-studies {
    padding: 25px;
    h1 {
      color: #377dff;
    }
    p {
      color: gray;
    }
    a {
      text-decoration: none;
    }
  }
}
.benefits {
  margin-top: 50px;
  .img {
    background-image: url(./imgs/sucess.jpg);
    background-size: 100% 100%;
    border-radius: 10px;
    // height: 80vh;
    min-height: 60vh;
  }
  .content {
    padding: 60px;
    h1 {
      font-size: 2rem;
    }
    p {
      color: gray;
      font-size: 1.1rem;
    }
  }
  .score {
    margin-top: 15px;
    h1 {
      color: #377dff;
    }
  }
}
.portfolio {
  background-color: #f7faff;
  margin-top: 60px;
  padding: 30px;
}
.p-heading {
  padding: 40px;
  text-align: center;
  h1 {
    font-size: 2rem;
  }
  p {
    padding: 5px;
    color: gray;
    font-size: 1.1rem;
  }
}
.p-navigation {
  background-color: white;
  padding: 20px;
  border-radius: 13px;
  ul {
    li {
      list-style-type: none;
      margin-top: 15px;
      a {
        text-decoration: none;
        display: block;
        // display: flex;
        color: gray;
        &:hover {
          color: #377dff;
        }
      }
      p {
        float: right;
        border-radius: 50%;
        padding: 3px;
        font-size: 0.8rem;
        border: 1px solid #f0f2f8;
      }
    }
  }
}
.project {
  // width: 30%;
  height: 30vh;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  img {
    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }
  }
}
.projects {
  max-height: 100vh;
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3f69fb;
    border-radius: 100px;
  }
}
.package {
  margin-top: 20px;
  text-align: center;
  // width: 95%;
  .title {
    h1 {
      font-size: 1.5rem;
      display: inline;
    }
    p {
      color: gray;
      font-size: 0.9rem;
    }
    .icon {
      color: #5691ff;
    }
  }
  .disc {
    p {
      color: gray;
      font-size: 1rem;
    }
  }
  .price {
    .price-btn {
      color: #377dff;
      font-weight: bold;
      padding: 10px;
      border: 1px solid #e7eaf3;
      border-radius: 5px;
      &:hover {
        background-color: #377dff;
        color: white;
      }
    }
  }
}
.editor {
  width: 45%;
  min-height: 58vh;
  border-radius: 10px;
  padding: 35px;
  background-color: #21325b;
  p {
    color: #a3aabb;
  }
  h3 {
    font-size: 1.2rem;
    color: #00c9a7;
  }
}
.license-btnn {
  color: red;
  background-color: #377dff;
  font-weight: bold;
  padding: 10px;
}
// media queries
@media only screen and (max-width: 1200px) {
  .header {
    // background-color: yellowgreen;

    .navlinks {
      display: none;
      ul {
        li {
          // float: right;
          display: block;
          margin: 10px;
        }
      }
    }
    .toogle-btn {
      // background-color: red;
      display: flex;
      justify-content: flex-end;
      p {
        // border: 1px solid black;
        cursor: pointer;
        // width: 50px;
        // display: inline;
        text-align: right;
        font-weight: bold;
        font-size: 25px;
      }
    }
  }
  .motivation {
    .text {
      padding: 20px;
      h1 {
        font-size: 2.5rem;
      }
    }
  }
}
